/* COLORS */
/* Záklaní nastavení barevného schématu stránky */
:root { 
    --primary: #ec1b30;
    --white: #f5f5f5; 
    --gray: #ebebeb;
    --gray2: #cfcfcf;
    --black: #0e0e0e; 
    --transparentblack: rgba(0, 0, 0, 0.5);
}

section {
    display: flex;
    flex-wrap: wrap;
    padding: 3em 10em;
    gap: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--gray2);
    border-radius: 15px;
}

.card img {
    max-width: 20em;
    object-fit: cover; 
    height: auto;
    min-height: 13.4em;
    border-radius: 15px 15px 0 0;
}

.card .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-width: 18em;
    max-height: 4em; /* Počet řádků krát výška jednoho řádku (např. 1em) */
    overflow: hidden;
    margin: 1em 1em 0 1em;

    /*
    max-width: 18em;
    max-height: 10em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 1em;
    */
}

.card .cena {
    display: flex;
    justify-content: center;
    color: var(--primary);
    font-size: 1.5rem;
}

.card .nazevProduktu {
    color: var(--black);
    text-decoration: none;
    margin: 0.6em 0 0 0;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.card a {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding: 1em;
    text-decoration: none;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 0 0 15px 15px;
}